.pickerWrapper {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;

  .picker {
    height: 23px !important;
    width: 430px !important;

    :global(.hue-horizontal) {
      border-radius: 8px !important;
    }

    .pointer {
      width: 32px;
      height: 32px;
      border: 4px solid #edf1f7;
      box-sizing: border-box;
      transform: translate(-9px, -5px);
      border-radius: 50%;
      cursor: grab;
    }
  }
}
