.wrapper {
  overflow: hidden;
  position: relative;
  margin: 100px auto;
  user-select: none;
  border: 1px solid #c4d0e4;
  border-radius: 4px;
  width: 970px;
  height: 518px;

  &.fullscreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99900;
    top: 0;
    left: 0;
    border: 0;
    border-radius: 0;
    margin: 0;
    overflow: visible;
  }
}
