.answer {
  display: flex;
  align-items: center;
  box-sizing: content-box;
  padding: calc(8px / 2);
  border: 1px solid #c4d0e4;
  border-radius: 4px;
  cursor: grab;
  -webkit-user-drag: element;
  user-select: none;
  color: #222b45 !important;
  background-color: #ffffff;
  page-break-inside: avoid;

  &:hover {
    border-color: #61baf4;
    background-color: #def5ff;
  }

  & * {
    font-family: unset;
  }
}
