.charList {
  position: absolute;
  right: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  background: white;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 8px;
  transform: translateY(50%);
  margin-top: -50%;

  .char {
    margin-bottom: 0;
  }
}
