.panel {
  display: flex;
  height: 100%;

  .brushSize {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;

    .exampleWrapper {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;
    }

    .example {
      border-radius: 50%;
    }
  }

  .brushes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 1;

    .brush {
      width: 125px;
      background: transparent;
      border: 0;
      padding: 0;
      display: flex;
      margin: 17px -10px 17px;
      transition: all ease 0.2s;
      cursor: pointer;

      &:hover {
        transform: scale(1.3);
      }

      &.active {
        animation: leaves 0.7s ease-in-out infinite alternate;
      }
    }
  }

  .slider {
    width: 12px;
    height: 158px;
    background: url("./assets/sliderBg.svg");

    .thumb {
      width: 18px;
      height: 18px;
      border-radius: 10px;
      border: 3px solid #657799;
      transform: translateX(-3px);
      box-sizing: border-box;
      cursor: grab;

      .value {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        background: white;
        transform: translate(-35px, -4px);
        border: 1px solid #f1f1f1;
        border-radius: 3px;
        font-size: 14px;
      }
    }
  }
}

@keyframes leaves {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
