.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
  z-index: 50;
  padding: 8px;

  .headLine {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;

    & > * {
      margin-right: 8px;
    }
  }

  .textSettings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    justify-items: center;
  }
}
