.wrapper {
  position: relative;
  display: flex;
  margin-left: 24px;

  .color {
    width: 20px;
    height: 20px;
    border: 1px solid #edf1f7;
    position: relative;
    cursor: pointer;

    &:first-child {
      top: -5px;
      z-index: 1;
    }

    &:last-child {
      bottom: -5px;
      transform: translateX(-8px);
    }
  }
}
