.wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8px;
  transform: translateX(-50%);
  gap: 8px;
  justify-items: center;
  z-index: 50;

  &.withColorApply {
    grid-template-columns: repeat(3, 1fr);
  }

  &.withoutCopy {
    grid-template-columns: repeat(1, 1fr);
  }
}
